#navList {
    list-style: none;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-left:15px;
    margin-right: 15px; */
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* height:100vh; */
    width: 100vw;
    overflow-x: none;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(240, 237, 231, 1) 100%);
}

.navContainer {
    /* background-color: rgba(0, 0, 255, 0.13); */
    min-height: 80px;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(122, 96, 39, 1) 100%);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;



}

#navLogo {
    font-size: 2.8rem;
    color: white;
}

nav {
    width: 100%;
    overflow-x: none;
    padding: 15px;
    padding-right: 2rem;

}

a {
    text-decoration: none;
    color: azure;
}

#navItems {
    display: flex;
    gap: 40px;


}

.content-Box {
    width: 50%;
    margin: auto;

    background: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem;
    box-shadow: 3px 3px 30px black;
}

.footer-box {

    width: 100%;
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(122, 96, 39, 1) 100%);
    text-align: center;
    min-height: 30px;

}

.footer-box p {
    color: azure;
    font-size: 2rem;
    width: 100%
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.right-box img {
    height:200px;
  
    border-radius:20px;
    transition: all 0.6sec linear 0s;
}

.right-box:hover {
    transform: scale(1.1);
}

/* .right-box :hover{
    transform: scale(1.1);
} */

.left-box {
    display: flex;
    gap: 20px;
    flex-direction: column;
    /* margin-right:50; */
}

.left-box h2 {
    font-size: 2rem;
}

.ing-box {
    font-size: 1.3rem;



}

.recipe-box {
    font-size: 1.2rem;
}

.right-box {
    position: relative;
    overflow: hidden;
    transition: all 0.3s linear 0s;
    border-radius: 20px;
}


.right-box .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.482);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.3s linear 0s;

}

.right-box:hover .overlay {
    opacity: 1;
}

.right-box .overlay span {
    color: white;
    font-size: 2rem;
}